doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="css/bulma.min.css")
    link(rel="stylesheet" href="css/bulma-carousel.min.css")
    style(type="text/css").
      .carouse-item {
        height: 30%;
      }
    script(src="js/bulma.js")
    script(src="js/bulma-carousel.min.js")
    title Mes images
  body
    section.section
      div.container
        h1.title Bonjour